<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Invoice #{{ invoice.id }}</title>

    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
            text-align: left !important;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
            text-align: left !important;
        }

        .invoice-box table tr.total td:nth-child(4) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        /** RTL **/
        .rtl {
            direction: rtl;
            font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

        .rtl table {
            text-align: right;
        }

        .rtl table tr td:nth-child(2) {
            text-align: left;
        }
    </style>
</head>

<body>
<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="4">
                <table>
                    <tr>
                        {% if invoice.company_logo %}
                            <td class="title">
                                <img src="{{ company_logo }}" style="width:100%; max-width:300px;">

                            </td>
                        {% endif %}
                        <td>
                            Invoice #: {{ invoice.number }}<br>
                            Created: {{ invoice.created_date }}<br>
                            Due: {{ invoice.date }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="4">
                <table>
                    <tr>
                        <td>
                            <strong>{{ invoice.company_name }}</strong><br>
                            {% if invoice.company_email %}
                                {{ invoice.company_email }}<br>
                            {% endif %}
                            {% if invoice.company_telephone %}
                                {{ invoice.company_telephone }}<br>
                            {% endif %}
                            {% if invoice.company_address %}
                                {{ invoice.company_address }}<br>
                            {% endif %}
                            {% if invoice.company_website %}
                                {{ invoice.company_website }}
                            {% endif %}
                        </td>

                        <td>
                            <strong>{{ invoice.customer_name }}</strong><br>
                            {% if invoice.customer_email %}{{ invoice.customer_email }}{% endif %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {% if invoice.payment_instructions %}
            <tr class="heading">
                <td colspan="4">Payment Instructions</td>
            </tr>
            <tr class="details">
                <td colspan="4">
                    {{ invoice.payment_instructions|replace("\n", "</br>")|replace("iframe","NOT ALLOWED")|replace("script", "NOT ALLOWED")|safe }}
                </td>
            </tr>
        {% endif %}
        {% if invoice.billing_expenses %}
            <tr class="heading">
                <td colspan="4">Billing Expenses</td>
            </tr>
            <tr class="details">
                <td colspan="4">
                    {{ invoice.billing_expenses|replace("\n", "</br>")|replace("iframe","NOT ALLOWED")|replace("script", "NOT ALLOWED")|safe }}
                </td>
            </tr>
        {% endif %}
        {% if invoice.terms %}
            <tr class="heading">
                <td colspan="4">Terms</td>
            </tr>
            <tr class="details">
                <td colspan="4">
                    {{ invoice.terms|replace("\n", "</br>")|replace("iframe","NOT ALLOWED")|replace("script", "NOT ALLOWED")|safe }}
                </td>
            </tr>
        {% endif %}
        <tr class="heading item">
            <td colspan="1">
                Item
            </td>
            <td colspan="1">
                Description
            </td>
            <td colspan="1">
                Quantity
            </td>
            <td colspan="1">
                Price
            </td>
        </tr>
        {% for item in invoice.items if item != invoice.items[-1] %}
            <tr class="item">
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.description }}
                </td>
                <td>
                    {{ item.quantity }}
                </td>
                <td>
                    {% if invoice.currency_pos == "Left" %}
                        {{ invoice.currency }}{% endif %}
                    {{ item.price }}
                    {% if invoice.currency_pos == "Right" %}
                        {{ invoice.currency }}{% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr class="item last">
            <td>
                {{ invoice.items[-1].name }}
            </td>
            <td>
                {{ invoice.items[-1].description }}
            </td>
            <td>
                {{ invoice.items[-1].quantity }}
            </td>
            <td>
                {% if invoice.currency_pos == "Left" %}
                    {{ invoice.currency }}{% endif %}
                {{ invoice.items[-1].price }}
                {% if invoice.currency_pos == "Right" %}
                    {{ invoice.currency }}{% endif %}
            </td>
        </tr>
        {# Other Costs #}

        {% if invoice.other_costs[-1] %}
            <tr class="heading item">
                <td colspan="2">
                    Cost for
                </td>
                <td colspan="2">
                    Price
                </td>
            </tr>
            {% for other_cost in invoice.other_costs if item != invoice.other_costs[-1] %}
                <tr class="item">
                    <td colspan="2">
                        {{ other_cost.description }}
                    </td>
                    <td colspan="2">
                        {% if other_cost.type == 'Percentage' %}
                            {{ other_cost.price_or_percent }} %
                        {% elif other_cost.type =='Fixed' %}
                            {% if invoice.currency_pos == "Left" %}
                                {{ invoice.currency }}{% endif %}
                            {{ other_cost.price_or_percent }}
                            {% if invoice.currency_pos == "Right" %}
                                {{ invoice.currency }}{% endif %}
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
            <tr class="item last">
                <td colspan="2">
                    {{ invoice.other_costs[-1].description }}
                </td>
                <td colspan="2">
                    {% if invoice.other_costs[-1].type == 'Percentage' %}
                        {{ invoice.other_costs[-1].price_or_percent }} %
                    {% elif invoice.other_costs[-1].type =='Fixed' %}
                        {% if invoice.currency_pos == "Left" %}
                            {{ invoice.currency }}{% endif %}
                        {{ invoice.other_costs[-1].price_or_percent }}
                        {% if invoice.currency_pos == "Right" %}
                            {{ invoice.currency }}{% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        <tr class="total">
            <td></td>
            <td></td>
            <td></td>
            <td>
                Total: {% if invoice.currency_pos == "Left" %}
                {{ invoice.currency }}{% endif %}
                {{ invoice.total_price() }}
                {% if invoice.currency_pos == "Right" %}
                    {{ invoice.currency }}{% endif %}
            </td>
        </tr>
        {% if invoice.discount %}
            <tr class="heading">
                <td colspan="4">Discount</td>
            </tr>
            <tr class="details">
                <td colspan="4">
                    {{ invoice.discount }} {% if invoice.discount_type == 'Percentage' %}
                    % {% elif invoice.discount_type == 'Fixed' %} {{ invoice.currency }} {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if invoice.comments %}
            <tr class="heading">
                <td colspan="4">Comments</td>
            </tr>
            <tr class="details">
                <td colspan="4">
                    {{ invoice.comments|replace("\n", "</br>")|replace("iframe","NOT ALLOWED")|replace("script", "NOT ALLOWED")|safe }}
                </td>
            </tr>
        {% endif %}
    </table>
</div>
</body>
</html>
